@font-face {
    font-family: 'Poppins';
    src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

 #nav h4{
    color: white;
    font-weight: 300;

}
#center{
    height: 80%;
    width: 100%;
    background-color: black;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px;
}
#center h1{
    color: white;
    font-size: 50px;
    font-weight: 600;

}
#center h5{
    color: white;
    font-size: 40px;
    font-weight: 300;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
#links button{
    padding: 13px 24px;
    border-radius: 50px;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    font-size: 18px;
    
}

